.cardPage {

    .container {
        width: 65%;
        margin: 20px auto;
        /* position: relative; */

        .cardHeader {
            height: 60px;
            display: flex;
            justify-content: space-between;
            background-color: #fff;
            position: sticky;

            .logoModel {
                display: flex;
                align-items: center;
                gap: 10px;

                .logo {

                    img {
                        width: 43px;
                        height: 40px;
                        border-radius: 10px;
                    }
                }

                .carName {
                    font-size: 30px;
                    font-weight: 600;
                }
            }

            .icons {
                display: flex;
                justify-content: space-around;
                gap: 10px;

                .save, .report {
                    display: flex;
                    gap: 10px;
                    align-items: center;


                    .saveIcon, .reportIcon {

                        svg {
                            width: 40px;
                        }
                    }

                    .saveText, .reportText {
                        font-size: 17px;
                    }
                }


            }


        }


    }
}